<!DOCTYPE html>
<html>
<head>
	<title>adding student</title>
</head>
<body>
	<h2>TKM Public School</h2>
	<h3>Student Details</h3>
	<form method="POST">
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="txt_name"></td>
			</tr>
			<tr>
				<td>Class</td>
				<td><input type="text" name="txt_class"></td>
			</tr>
			<tr>
				<td>Date of Birth</td>
				<td><input type="date" name="txt_dob"></td>
			</tr>
			<tr>
				<td>Average</td>
				<td><input type="number" name="txt_avg"></td>
			</tr>
			<tr>
				<td>Hobbies</td>
				<td><input type="text" name="txt_hobbies"></td>
			</tr>
			<tr>
				<td>Teacher ID</td>
				<td><input type="number" name="txt_teacher"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="btn_submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>
