<!DOCTYPE html>
<html>
<head>
	<title>updating student</title>
</head>
<body>
	<h2>TKM Public School</h2>
	<h3>Update Student Details</h3>
	<form method="POST">
		<table>
			<tr>
				<td>Enter Student ID</td>
				<td><input type="text" name="txt_id"></td>
			</tr>
			<tr>
				<td>Average</td>
				<td><input type="number" name="txt_avg"></td>
			</tr>
			<tr>
				<td>Hobbies</td>
				<td><input type="text" name="txt_hobbies"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="btn_submit"></td>
			</tr>
		</table>
	</form>
</body>
</html>
